<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>youtube api</title>
    <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head>
<body>
    <div id="content"></div>
    <button onclick="renderMore()" id="btn">load more</button>
    
</body>
<script type="text/babel">
    const container = document.getElementById('content');
    const root = ReactDOM.createRoot(container);
    var nextToken = '';

    function FetchData(){
        const [data, setdata] = React.useState([]);
        React.useEffect(() => {
            fetch('/youtube_data/list' + nextToken)
                .then(
                        response => response.json()
                    )
                    .then(
                        responseData => {
                            let tempNext = responseData.pop()
                            nextToken = tempNext['nextToken']
                            if(nextToken == ''){
                                let btn = document.getElementById('btn');
                                btn.disabled = 'disabled';
                                btn.innerHTML = 'no more video';
                            }
                            let temp = Object.values(responseData)
                            setdata(temp)
                            
                        }
                    )
        }, []);
        return <>
            {data.map(eachData=><Card key={eachData.id} data={eachData}/>)}
        </>
    }
    function Card(props){
        // console.log(props)
        // <iframe src={props.data['player']} frameBorder="0"></iframe>
        return <>
            
            <img src={props.data['thumbnail']} alt="" />
            <p>
                <strong>
                    {props.data['title']}
                </strong>
                <br />
                {props.data['url']}
            </p>
        </>
    }
    
    function renderMore(){
        let di = document.createElement('span')
        ReactDOM.createRoot(di).render(<FetchData />)
        container.appendChild(di)
    }
        
    root.render(<FetchData />)

</script>
</html>